/* Start Variables */
:root {
  --yellow-color: #dc9e4b;
  --dark-color: #202c37;
  --dark-color-2: #2b3945;
  --white-color: #fff;
}
/* End Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5000px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::selection {
  background-color: var(--yellow-color);
  color: #fff;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .card {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1170px;
  }
}
.item {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .col {
    flex: 0 0 calc(33.333333% - 10px);
    max-width: calc(33.333333% - 10px);
  }
}

@media (min-width: 901px) {
  .col {
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
}

.imgWidth {
  width: 100%;
}

/* End Global Rules */

/* Start Load */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--white-color);
  position: fixed;
  width: 100%;
  z-index: 999;
}
.load span {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid var(--yellow-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
}

/* End Load */

/* Start Header */
.navbar {
  background-color: var(--dark-color-2);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}
.navbar .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.navbar .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  border: 2px solid var(--yellow-color);
  text-decoration: none;
  color: var(--yellow-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.navbar .divider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0;
  cursor: pointer;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  z-index: 3;
}
.navbar .divider span {
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  margin: 3px 0;
}
.navbar .divider span:nth-child(1) {
  width: 15px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.navbar .divider span:nth-child(2) {
  width: 30px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.navbar .divider:hover span:nth-child(1) {
  width: 40px;
}
.navbar .divider:hover span:nth-child(2) {
  width: 40px;
}
/* End Header */
/* Start Nav */
.nav {
  width: 50px;
  background-color: var(--yellow-color);
  height: 100vh;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 5%;
}
.nav ul li {
  height: calc(100% / 5);
  width: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}
.nav ul li.active {
  color: var(--dark-color);
}
.nav ul li.active::before {
  content: "";
  position: absolute;
  right: 0;
  border: 6px solid var(--dark-color);
  border-color: transparent var(--dark-color) transparent transparent;
  top: 5px;
}
.nav ul li:nth-child(1) {
  margin-top: 110px;
}
.nav ul li i {
  font-size: 20px;
}
/* End Nav */
/* Start Home */
.home {
  margin-top: 65px;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 60px;
}
.home h2 {
  font-size: 30px;
  margin: 20px;
}
.home h3 {
  font-size: 20px;
  margin: 0 20px;
}
.home h1 {
  font-family: "Cairo", sans-serif;
  font-size: 100px;
  color: var(--yellow-color);
  text-transform: uppercase;
  margin: 0;
  z-index: -1;
}
.home a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.home a:hover {
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  color: #fff;
}
@media (max-width: 400px) {
  .home {
    margin-left: 50px;
  }
  .home h2 {
    font-size: 20px;
    margin: 10px 0;
  }
  .home h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  .home h1 {
    font-size: 60px;
  }
}

.effect-warp .effect {
  position: absolute;
  z-index: -1;
}
.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}
.effect-2 {
  left: 0%;
  bottom: 10%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topbootom 3s ease-in-out infinite;
  -webkit-animation: topbootom 3s ease-in-out infinite;
}
.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9cff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 3px 8px;
}

.effect-3 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 10%;
  animation: topbootom 5s linear infinite;
  -webkit-animation: topbootom 5s linear infinite;
}
.effect-3::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-4 {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}
.effect-4 div {
  width: 1px;
  background-color: #06d79c;
}
/* End Home */

/* Start Animation */
@keyframes topbootom {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* End Animation */
